/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "nautilus";
  font-style: normal;
  font-weight: 600;
  src: url('~assets/fonts/nautilus/nautilus-webfont.woff2') format('woff2'),
       url('~assets/fonts/nautilus/nautilus-webfont.woff') format('woff'),
       url('~assets/fonts/nautilus/nautilus-webfont.ttf') format('truetype');
}

*
{
    font-family: "nautilus";
}

html, body{
    position: relative;
    width: 100%;
    height: 100%;    
    padding: 0;
    margin: 0;
}

.megalabel{ 
    span {
            font-size: 55px;
            transform: rotate(-25deg);
            color: darkgoldenrod;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 15px;
            font-weight: bold;
    }
}