@font-face {
  font-family: "nautilus";
  font-style: normal;
  font-weight: 600;
  src: url('~assets/fonts/nautilus/nautilus-webfont.woff2') format('woff2'),
       url('~assets/fonts/nautilus/nautilus-webfont.woff') format('woff'),
       url('~assets/fonts/nautilus/nautilus-webfont.ttf') format('truetype');
}
