@import "~variables.scss";
:host{
    position: relative;
    width: 100%;
    height: 100%;    

    p{
        width: 100%;
        height: 100%;
        font-size: 48px;
        text-align: center;
        color: $color2;
    }

    .usercar{
        width: 50%;
        height: 85%;
        background: url("~assets/images/renault4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        margin-left: 25%;
        border: 2px solid $color1;
        border-radius: 10px;
    }     
}
